<h2>Part Documentation</h2>


<table>
  <tr>
    <th>#</th>
    <th>Part Number</th>

    <th>Customer</th>

    <th>Machine</th>

    <th>Program Number</th>

    <th>Revision</th>

    <th>Last Edit Date</th>

    <th>Editor</th>

    <th>Parts produced in this setup</th>

    <th>Job Number</th>

    <th>Drawing</th>

  </tr>
  <tr>
    <td>1</td>
    <td>0001</td>
    <td>Bosing</td>
    <td>VMC-1</td>
    <td>8978-8761</td>
    <td>4</td>
    <td>29/02/2020</td>
    <td>priya</td>
    <td>2500</td>
    <td>Uiy-097-765</td>
    <td>image</td>
  </tr>
</table>